<ion-view>
  <ion-content>
  <h3>Get value testing</h3>
  <div class="getval">
    <li>test</li>
  </div>
  <div class="dummyform">
    <input type="text" ng-model="dmcnt.name">
    <input type="number" ng-model="dmcnt.age">
    <input type="status" ng-model="dmcnt.status">
    <button ng-click="submt(dmcnt)">Sent</button>
    <button ng-click="lgnchckup(dmcnt)"></button>
  </div>
  <div class="loginn"><h3>Login</h3></div>
  <div class="login-section">
    <input type="text" ng-model = "login.name">
    <input type="number" ng-model="login.password">
    <button ng-click="loginchck(login)">Login</button>
  </div>
  </ion-content>
</ion-view>
